    

.header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    display: inline-block;
    margin: 10px;
    width: 150px;
    text-align: left;
}

.user-row, .book-row{
    display: block;
}

#firstName, #lastName, #avatar{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 500;
    width: 150px;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}


#id, #title, #description{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 500;  
    width: 150px;
    display: inline-block;
    vertical-align: middle;
    margin: 10px; 
}

#description{   
    font-size: 12px;
    font-weight: normal;
    width: 300px;
    display: inline-block;
    vertical-align: middle;
    margin: 10px; 
}